<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
</head>
<body>
    <h1>All Members</h1>
    
    <a href="/teams/ejs/new">Create</a>
    <a href="/">Home</a>
    <a href="/teams/ejs">all Members</a>
    <div>
        <form action="/teams/ejs/yearwise" method="get">
        <label for="year">year</label>
        <input type="number"name='y' step="1">
        <button type="submit">yearwise</button>
        </form>

    </div>
    
    <ul>
        <% for(m of members){ %> 
            <li><a href="/teams/ejs/<%=m._id%>" ><%= m.name %></a></li>
         <% } %>
    </ul>
</body>
</html>