<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Workshop</title>
</head>
<body>
    <h2>Create Workshop</h2>

    <form action="/workshops" method="post">
        <div style="display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: flex-start;">
    <label for="name">Name :</label><input type="text" name="name" id="name">
    <label for="vanue">Vanue</label><input type="text" name="vanue" id="vanue">
    <label for="date">Date :</label><input type="date" name="date" id="date">
    <label for="author">Author :</label><input type="text" name="author" id="author">
    <label for="description">Description :</label><textarea name="description" id="description" cols="30" rows="10"></textarea>
    <label for="register"></label>Register Link:<input type="text" name="register" id="register">
    <button type="submit">Create</button>
</div>
    </form>
   
    
</body>
</html>